.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

.pull-quote-bg {
  background: rgb(28,28,28);
  background: linear-gradient(86deg, rgba(28,28,28,1) 0%, rgba(45,47,50,1) 50%, rgba(28,28,28,1) 100%);
  color: #DAD6BD;
}

.bg-footer { background-color: #E9E8E2; }